#
# Copyright 2014, NICTA
#
# This software may be distributed and modified according to the terms of
# the BSD 2-Clause license. Note that NO WARRANTY is provided.
# See "LICENSE_BSD2.txt" for details.
#
# @TAG(NICTA_BSD)
#

menu   "Timing Channel Benchmarks"
       config APP_SIDE_BENCH 
        bool "benchmarking thread"
        default y 
        depends on LIB_SEL4 && LIB_MUSL_C 
        help 
             a seperate benchmarking thread for measuring chosen features.

        config BENCH_CACHE_LINE_SIZE 
        int "cache line size (Bytes)" 
        default 64 
        depends on APP_SIDE_BENCH 
        help 
              the cache line size of benchmarked platform. 

        config BENCH_CACHE_FLUSH 
        bool "cost of flushing caches"
        default n 
        depends on APP_SIDE_BENCH 
        help 
             the indirect cost of flushing caches with write operations 
        
        config BENCH_CACHE_FLUSH_READ
        bool "cost of flushing caches with read operations"
        default n 
        depends on APP_SIDE_BENCH 
        help 
             the indirect cost of flushing caches with reading operations 
      
        choice 
               prompt "Flushing Range"
               
               config BENCH_CACH_FLUSH_NONE 
               bool "Flushing none"

               config BENCH_CACHE_FLUSH_L1 
               bool "Flushing L1 caches"

               config BENCH_CACHE_FLUSH_ALL 
               bool "Flushing all caches"
        endchoice
       
        config BENCH_CACHE_BUFFER 
        int "buffer size representing maximum working set (Bytes)"
        depends on BENCH_CACHE_FLUSH 
        default 32768
        help 
               the buffer size for measuring indirect cost of flushing caches. Benchmarking thread writes each buffer lines which equal the size of cache line. 
        
        config BENCH_FLUSH_START 
        int "starting size"
        depends on BENCH_CACHE_FLUSH 
        default 8192
        help 
              the starting size for testing the flushing cost, the working set size stepping for the power of 2 in each set.

        config BENCH_FLUSH_RUNS 
        int "number of runs for cache flushing" 
        depends on BENCH_CACHE_FLUSH 
        default 10 
        help 
                number of runs for measuring the indirect cost of flushing caches. 

        config BENCH_DCACHE_ATTACK 
        bool "simulate the L1 dcache attack (Tromer_OS_10)"
        depends on APP_SIDE_BENCH 
        default n 
        help 
              reply the prime + probe attack published in Tromer_OS_10, extracting AES private keys. synchronous known-data attack.

        config BENCH_ICACHE_ATTACK 
        bool "simulate the L1 icache attack (Zhang_JRR_12)"
        depends on APP_SIDE_BENCH 
        default n 
        help 
            reply the prime + probe attack on icache, identifying the square and multiply instruction path 


       config BENCH_IPC  
       bool "ipc benchmarking" 
       depends on APP_SIDE_BENCH 
       default n 
       help 
           enable the ipc benchmarking functions 

        config BENCH_PMU_COUNTER 
        bool "using pmu counter to monitor events" 
        default n 
        depends on APP_SIDE_BENCH
        help 
              enable pmu counters 

       config BENCH_COVERT_SINGLE 
       bool "covert benchmark on single core"
       default n 
       depends on APP_SIDE_BENCH 
       help 
             a simple P+P attack on single core
      choice 
               prompt "cache level" 

               config BENCH_COVERT_L2 
               bool "L2"

               config BENCH_COVERT_LLC 
               bool "LLC"
      endchoice 

      config MASTIK_ATTACK
      bool "multicore cache-based timing attack"
      default n 
      depends on APP_SIDE_BENCH 
      help 
           attack used as data61+ demo extened as multicore benchmark

       choice 
             prompt "attack format" 
             config MASTIK_ATTACK_COVERT 
             bool "covert" 
             config MASTIK_ATTACK_SIDE 
             bool "side"
       endchoice

endmenu 

