#
# Copyright 2014, NICTA
#
# This software may be distributed and modified according to the terms of
# the BSD 2-Clause license. Note that NO WARRANTY is provided.
# See "LICENSE_BSD2.txt" for details.
#
# @TAG(NICTA_BSD)
#

menu    "Manager task for benchmarking tests"
        config APP_MANAGER 
        bool "system resouce manager"
        default y 
        depends on LIB_SEL4 && LIB_MUSL_C 
        help 
             Partitioning system resources and setting up isolated domains. 
        
        config MANAGER_IPC
        bool "ipc performance"
        default n 
        depends on APP_MANAGER 
        help 
             ipc benchmarks
        
        config MANAGER_PMU_COUNTER 
        bool "using pmu counter to monitor events" 
        default n 
        depends on APP_MANAGER 
        help 
              enable pmu counters 


        config MANAGER_CACHE_FLUSH 
        bool "cost of flushing caches"
        default n 
        depends on APP_MANAGER 
        help 
            see timing channel benchmarks 
        
        config MANAGER_CACHE_FLUSH_NONE 
        bool "not flushing cache in kernel"
        default n 
        depends on MANAGER_CACHE_FLUSH 
        help 
              not flushing cache during sel4_yeild

        config MANAGER_COVERT_BENCH 
        bool "covert channel benchmarks" 
        default n 
        depends on APP_MANAGER 
        help 
            enable covert channel benchmarks 

        config MANAGER_COVERT_MITIGATION 
        bool "setting up system for mitigating timing channels" 
        default n 
        depends on MANAGER_COVERT_BENCH 
        help  
               setting up kernel objects, and endpointers for testing mitigation mechanisms. 

        config COVERT_TROJAN_SENSITIVE 
        bool "trojan sensitive" 
        default n 
        depends on MANAGER_COVERT_BENCH
        help 
            trojan is the high domain in normal benchmark scenario 
            
        config COVERT_TROJAN_HOLD_TIME 
        int  "trojan holding time " 
        default 3400000 
        depends on COVERT_TROJAN_SENSITIVE 
        help 
            the domain execution time for trojan, in cpu cycles 


        config COVERT_SPY_SENSITIVE 
        bool "spy sensitive" 
        default n 
        depends on MANAGER_COVERT_BENCH
        help 
            spy is the low domain in normal benchmark scenario. the low domian should not contain the sensitive flag. 

        config COVERT_SPY_HOLD_TIME 
        int  "spy holding time " 
        default 3400000 
        depends on COVERT_SPY_SENSITIVE 
        help 
            the domain execution time for spy, in cpu cycles 

   
        config MANAGER_DCACHE_ATTACK 
        bool "L1 dcache attack" 
        default n 
        depends on MANAGER_COVERT_BENCH  
        help 
            see timing channel benchmarks

       config MANAGER_COVERT_MULTI
       bool "covert channel benchmark on multicore"
       default n 
       depends on MANAGER_COVERT_BENCH
       help 
            attack used as data61+ demo, then extened as the multicore benchmark


       config MANAGER_HUGE_PAGES
       bool "setting up huge pages for the benchmarking thread"
       default n 
       depends on APP_MANAGER
       help 
           manager sets huge pages for the benchmarking thread, size is defined in the bench_common.h, passing pointer to benchmarking thread for the morecore area. 

endmenu


